[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/NvChad/starter
[submodule ".config/alacritty/themes"]
	path = .config/alacritty/themes
	url = https://github.com/alacritty/alacritty-theme
