.DS_Store

.local/share/konsole
!.local/share/konsole/macos*.profile
!.local/share/konsole/macos.keytab

.config/alacritty/alacritty.toml
.config/vim/viminfo
.config/nix-darwin/*.lock
.config/konsolerc

.ssh/known_hosts*
